* {
    box-sizing: border-box;
    padding: 0;
    border: 0;
    margin: 0;
}
.title{
    text-align: center;
    padding-bottom: 15px;
}
.main{
    height: 450px;
    width: 920px;
    position: relative;
    background-color: black;
    margin: 15px;
}
.main h1 {
    color: aqua;
    padding: 15px;
}
.error{
    height: 450px;
    width: 35%;
    right: 2%;
    position: absolute;
    background-color: blue;
    top: 53px;
    margin-top: 15px;
}
.cam{
    height: 250px;
    margin: 15px;
    background-color: brown;
    width: 920px;
    position: relative;
}
.cam .col-1{
    position: absolute;
    height: 185px;
    width: 185px;
    margin-top: 32px;
    margin-left: 32px;
    background-color: yellow;
}
.cam .col-2{
    position: absolute;
    height: 185px;
    width: 185px;
    margin-top: 32px;
    left: 375px;
    background-color: yellow;
}
.cam .col-3{
    position: absolute;
    height: 185px;
    width: 185px;
    margin-top: 32px;
    margin-right: 32px;
    left: 700px;
    background-color: yellow;
}